<div class="search">
    <div class="box">
        <input type="text" id="searchBox" onkeyup="search()" placeholder="Find subreddit crosslinks..." style="width:300px;padding:5px;margin-bottom:10px;">
    </div>
    <div id="subs">
        {{ range $.Site.Data.subreddits }}
              <span style="display:none"><a href="/r/{{lower . }}">{{ . }}</a>&nbsp;&nbsp;</span>
        {{ end }}
    </div>
</div>
<script>
    function search() {
        var input, filter, ul, li, a, i;
        input = document.getElementById('searchBox');
        filter = input.value.toUpperCase();
        subDiv = document.getElementById("subs");
        subSpans = subDiv.getElementsByTagName('span');
        for (i = 0; i < subSpans.length; i++) {
            a = subSpans[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                subSpans[i].style.display = "";
            } else {
                subSpans[i].style.display = "none";
            }
        }
    }
</script>